{{ template "base" .}}

{{ define "title" }}
    Buy One WIdget
{{ end }}

{{ define "content" }}

    <h2 class="mt-3 text-center" > Buy One Widget </h2>
    <hr>
    <img src="static/widget.png" />
{{ end }}