# THIS IS ENV FILE - DONT REMOVE THIS FIRST LINE
STRIPE_SECRET=
STRIPE_KEY=

# POSRTS
GOSTRIPE_PORT=
API_PORT=

# Database
DSN=user:password@tcp(localhost:3306)/widgets?parseTime=true&tls=false
DSN_API=user:password@tcp(localhost:3306)/widgets?parseTime=true&tls=false